/* Color System and Base Styles */
:root {
  --primary: #e43d40; /* Main primary color */
  --primary-dark: #c23537; /* Darker shade of primary */
  --primary-light: #f06263; /* Lighter shade of primary */

  --secondary: #000000; /* Main secondary color */
  --secondary-dark: #000000; /* Secondary dark remains black */
  --secondary-light: #333333; /* Lighter shade of black */

  --dark: #333;
  --gray-dark: #444;
  --gray: #666;
  --gray-light: #888;
  --light: #eee;

  --success: #51a351;
  --warning: #f89406;
  --danger: #bd362f;
}

/* Base Styles */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--gray);
  font-size: 12px;
  line-height: 20px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--gray-dark);
}

/* Override the bootstrap defaults */
h1 {
  font-size: 33px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 15px;
}

h6 {
  font-size: 10.2px;
}

footer h5 {
  font-size: 12px;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--primary-dark);
  text-decoration: none;
}

/* Form Elements */
button:focus {
  outline: none !important;
}

legend {
  font-size: 18px;
  padding: 7px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--light);
}

label {
  font-size: 12px;
  font-weight: normal;
}

div.required .col-form-label:before,
div.required .form-label:before {
  content: "* ";
  color: var(--danger);
  font-weight: bold;
}

/* Basic Button Styles */
.btn {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-repeat: repeat-x;
}

.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

/* Alert Styles */
#alert {
  z-index: 9999;
  pointer-events: all;
}

#alert .alert {
  min-width: 400px;
  position: relative;
  margin-bottom: 15px;
}

/* Header - Top Bar */
#top {
  background-color: var(--light);
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0;
  margin: 0 0 20px 0;
  min-height: 44px;
  position: relative;
}

#top .nav>.list-inline>.list-inline-item,
#top .nav>.list-inline .list-inline-item>a,
#top .nav>.list-inline .list-inline-item .dropdown>a {
  color: var(--gray-light);
  text-shadow: 0 1px 0 #FFF;
}

#top .btn-link {
  color: var(--gray-light);
  text-shadow: 0 1px 0 #FFF;
  text-decoration: none;
}

#top .btn-link:hover {
  color: var(--gray-dark);
}

/* Logo */
#logo {
  margin: 0 0 10px 0;
}

#logo img {
  max-width: 200px;
}

/* Search */
#search {
  margin-bottom: 10px;
}

#search .form-control-lg {
  height: 40px;
  font-size: 12px;
  line-height: 20px;
  padding: 0 10px;
}

#search .btn-lg {
  font-size: 15px;
  line-height: 18px;
  padding: 0.57rem 35px;
  text-shadow: 0 1px 0 #FFF;
}

/* Main Navigation Menu */
#menu {
  background-color: var(--primary);
  background-image: linear-gradient(to bottom, var(--primary-light), var(--primary-dark));
  background-repeat: repeat-x;
  border: 1px solid var(--primary-dark);
  border-color: var(--primary-dark) var(--primary-dark) #145e7a;
  min-height: 40px;
  border-radius: 4px;
}

#menu.navbar {
  padding: 0 1rem;
  margin-bottom: 20px;
}

#menu .navbar-nav>li>a {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  padding: 10px 15px;
  min-height: 15px;
  background-color: transparent;
}

#menu .navbar-nav>li>a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#menu .dropdown-menu {
  padding-bottom: 0;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#menu .dropdown-inner {
  display: table;
}

#menu .dropdown-inner ul {
  display: table-cell;
}

#menu .dropdown-inner a {
  min-width: 160px;
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: var(--gray-dark);
  font-size: 12px;
}

/* Main Content Area */
#content {
  min-height: 600px;
}

/* Footer */
footer {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 1px;
  background-color: var(--dark);
  border-top: 1px solid var(--light);
  color: #e2e2e2;
}

footer hr {
  border-top: none;
  border-bottom: 1px solid var(--gray);
}

footer a {
  color: #ccc;
}

footer a:hover {
  color: #fff;
}

footer h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  margin: 10px 0;
}

/* Cookie Notice */
#cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 9999;
  opacity: 0.95;
  color: #fff;
  background: var(--dark);
}

#cookie div {
  font-size: 16px;
  color: #fff;
}


/* Buttons */
.btn-primary {
  color: #fff;
  background-image: linear-gradient(to bottom, var(--primary-light), var(--primary-dark));
  border-color: var(--primary-dark) var(--primary-dark) #145e7a;
}

.btn-info {
  color: #fff;
  background-image: linear-gradient(to bottom, var(--secondary-light), var(--secondary-dark));
  border-color: var(--secondary-dark) var(--secondary-dark) #a2371a;
}

.btn-success {
  color: #fff;
  background-image: linear-gradient(to bottom, #62c462, var(--success));
  border-color: var(--success) var(--success) #387038;
}

.btn-warning {
  color: #fff;
  background-image: linear-gradient(to bottom, #fbb450, var(--warning));
  border-color: var(--warning) var(--warning) #ad6704;
}

.btn-danger {
  color: #fff;
  background-image: linear-gradient(to bottom, #ee5f5b, var(--danger));
  border-color: var(--danger) var(--danger) #802420;
}

/* Product Components */
.product-thumb {
  border: 1px solid var(--light);
  margin-bottom: 15px;
}

.product-thumb h4 {
  font-weight: bold;
}

.product-thumb .image {
  text-align: center;
  margin-bottom: 15px;
}

.product-thumb .image a:hover {
  opacity: 0.8;
}

.product-thumb .description {
  padding: 15px;
}

.product-thumb .button-group {
  display: flex;
  border-top: 1px solid var(--light);
  background-color: var(--light);
}

.product-thumb .button-group button {
  flex: 33%;
  border-radius: 0;
  display: inline-block;
  border: none;
  background-color: var(--light);
  color: var(--gray-light);
  line-height: 38px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.product-thumb .button-group button:hover {
  color: var(--gray-dark);
  background-color: #ddd;
  text-decoration: none;
  cursor: pointer;
}

.product-thumb .button-group button+button {
  border-left: 1px solid #ddd;
}

/* Rating Component */
.rating {
  padding-bottom: 10px;
}

.rating .fa-stack {
  width: 20px;
}

.rating.fa-star {
  color: #999;
  font-size: 15px;
}

.rating .fa-star {
  color: #FC0;
  font-size: 15px;
}

.rating .fa-star+.fa-star {
  color: #E69500;
}

/* Price Styles */
.price {
  color: var(--gray-dark);
}

.price-new {
  font-weight: 600;
  color: var(--secondary);
}

.price-old {
  color: var(--gray-light);
  text-decoration: line-through;
}

.price-tax {
  color: var(--gray-light);
  font-size: 12px;
}

/* Breadcrumb */
.breadcrumb {
  margin: 0 0 20px 0;
  padding: 8px 0;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
}

.breadcrumb i {
  font-size: 15px;
}

.breadcrumb>li.breadcrumb-item {
  text-shadow: 0 1px 0 #FFF;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
}

.breadcrumb>li.breadcrumb-item>a {
  text-decoration: none;
}

.breadcrumb>li.breadcrumb-item:after {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  right: -5px;
  width: 26px;
  height: 26px;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  transform: rotate(-45deg);
}

/* Responsive Utilities */
@media (min-width: 960px) {
  .product-list .product-thumb {
    display: flex;
  }

  .product-list .product-thumb .image {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .product-list .product-thumb .content {
    flex-direction: column;
    flex: 75%;
    position: relative;
  }

  .product-list .product-thumb .button-group {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-left: 1px solid #ddd;
  }
}

@media (max-width: 767px) {
  #menu {
    border-radius: 4px;
  }

  #menu div.dropdown-inner>ul .list-unstyled {
    display: block;
  }

  #menu div.dropdown-menu {
    margin-left: 0 !important;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  #menu .dropdown-inner {
    display: block;
  }

  #menu .dropdown-inner a {
    width: 100%;
    color: #fff;
  }
}

.list-group-item.active {
  color: var(--light) !important;
  background-color: var(--primary) !important;
  border-color: var(--primary-dark) !important;
}